{% extends 'base.html.twig' %}

{% block title %}Create Post Category{% endblock %}

{% block body %}
    <style>
        body{
            display: flex ;
            justify-content: center;
        }
        section{
            display: flex ;
            justify-content: center;
            align-content: center;
            background-color: #cbc8c8;
            width: 350px;
            padding: 50px 40px;

        }
        .shadow-custom{
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 8px rgba(0, 0, 0, 0.3) !important;
        }
        .label-class {
            margin: 10px 0;
            font-family: Calibri, fantasy;
        }
        .widget-class{
            font-family: Calibri, fantasy;
            padding: 10px 0;
        }
        button{
            margin-top: 20px;
            font-family: Calibri, fantasy;
        }
        button:hover{
            background-color:#1668ef !important;
            color: white !important;
        }
    </style>
<section>



    {{ form_start(form) }}
    <h1> Create Post Category </h1>
    <div>
    <div class="label-class">{{ form_label(form.name) }}</div>
    <div class="widget-class">{{ form_widget(form.name) }}</div>
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
            Create Post Category
        </button>
    </div>
    {{ form_end(form) }}

</section>

{% endblock %}