{% extends 'base.html.twig' %}

{% block title %}Create Post Category{% endblock %}

{% block body %}

    <section class="create_post_category container">

        {{ form_start(form, {'attr': {'class': 'form_post_category'}}) }}
        <div>
            <h1 class="text-center mb-5"> Create Post Category </h1>
            <div class="input_create_post_category">
                <div class="label-class">{{ form_label(form.name) }}</div>
                <div class="widget-class">{{ form_widget(form.name) }}</div>
                <div class="div_button_submit">
                    <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-color="dark">
                        Create Post Category
                    </button>
                </div>

            </div>
        </div>

        {{ form_end(form) }}

    </section>

{% endblock %}