$primary-blue: #222F3D;
$secondBlue: #1984e1;
$thirdBlue: #b4e0fe;
$orange: #ff8800;
$yellow:#FFC947;
$gray:#EFEFEF;


$title_font : 'Julius Sans One', sans-serif;
$sub_title_font: 'Nunito', sans-serif;
$text: 'Overpass', sans-serif;